
<h3>Name: <%= @student.name %></h3><br>
<h4>Weight: <%= @student.weight %></h4>
<h4>Height: <%= @student.height %></h4>



<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div><br>
<% end %>
